/node_modules
/public/banner_images
/public/checklist_images
/public/images
/public/im
/public/self_service_images
/public/shortcut_images
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
.idea/workspace.xml
